---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=education
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a1-tQVCk6MofLt366epdlLBy8CwYe4"
    body:
      encoding: UTF-8
      string: '{"activity":"Read a formal research paper on an interesting subject","type":"education","participants":1,"price":0,"link":"","key":"3352474","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 23:46:44 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"87-sp001QjFMNHnboSnAlpwiMtN9ds"
    body:
      encoding: UTF-8
      string: '{"activity":"Listen to a new podcast","type":"relaxation","participants":1,"price":0.05,"link":"","key":"4124860","accessibility":0.12}'
  recorded_at: Mon, 15 Nov 2021 23:46:47 GMT
recorded_with: VCR 6.0.0
