---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=eyaDL7GwbdgiqnXF3jwq5v8Axp0NOg8j&location=Houston,%20TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 16 Nov 2021 00:02:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Houston,
        TX"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Houston","adminArea5Type":"City","adminArea4":"Harris
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040105","unknownInput":"","type":"s","latLng":{"lat":29.760803,"lng":-95.369506},"displayLatLng":{"lat":29.760803,"lng":-95.369506},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=eyaDL7GwbdgiqnXF3jwq5v8Axp0NOg8j&type=map&size=225,160&locations=29.760803,-95.369506|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-731180551"}]}]}'
  recorded_at: Tue, 16 Nov 2021 00:02:22 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_SHARE_MY_OPENWEATHER_KEY>&exclude=minutely,alerts&lat=29.760803&lon=-95.369506&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":29.7608,"lon":-95.3695,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1637020943,"sunrise":1636980391,"sunset":1637018759,"temp":73.92,"feels_like":74.16,"pressure":1019,"humidity":67,"dew_point":62.28,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":1.01,"wind_deg":202,"wind_gust":5.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1637020800,"temp":73.92,"feels_like":74.16,"pressure":1019,"humidity":67,"dew_point":62.28,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":9.78,"wind_deg":184,"wind_gust":16.84,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1637024400,"temp":73.53,"feels_like":73.78,"pressure":1019,"humidity":68,"dew_point":62.33,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":9.31,"wind_deg":182,"wind_gust":18.37,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1637028000,"temp":72.55,"feels_like":72.75,"pressure":1020,"humidity":69,"dew_point":61.81,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":8.66,"wind_deg":182,"wind_gust":19.01,"weather":[{"id":800,"main":"Cl[...]
