---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"88-dWzzk4lwq2PIujyd7sZhLhrg59c"
    body:
      encoding: UTF-8
      string: '{"activity":"Catch up on world news","type":"recreational","participants":1,"price":0.05,"link":"","key":"6596257","accessibility":0.07}'
  recorded_at: Mon, 15 Nov 2021 18:18:15 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"99-hPnFYmxvzCaFoWuHxZrfp3yFKEM"
    body:
      encoding: UTF-8
      string: '{"activity":"Plan a vacation you''ve always wanted to take","type":"relaxation","participants":1,"price":0,"link":"","key":"7265395","accessibility":0.05}'
  recorded_at: Mon, 15 Nov 2021 18:18:17 GMT
recorded_with: VCR 6.0.0
