---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8b-wcpqUNZh//FBUDSr2/HD5bxgE4A"
    body:
      encoding: UTF-8
      string: '{"activity":"Fill out a basketball bracket","type":"recreational","participants":1,"price":0,"link":"","key":"7806284","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 18:26:08 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86-Jv8ZboB8ImLXR1sJhXPFU8E3H8Y"
    body:
      encoding: UTF-8
      string: '{"activity":"Meditate for five minutes","type":"relaxation","participants":1,"price":0,"link":"","key":"3699502","accessibility":0.05}'
  recorded_at: Mon, 15 Nov 2021 18:26:10 GMT
recorded_with: VCR 6.0.0
