---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"89-H+1151BmYv5EGVABCa1p9iBahQA"
    body:
      encoding: UTF-8
      string: '{"activity":"Go to a local thrift shop","type":"recreational","participants":1,"price":0.1,"link":"","key":"8503795","accessibility":0.2}'
  recorded_at: Mon, 15 Nov 2021 23:33:19 GMT
recorded_with: VCR 6.0.0
