---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=eyaDL7GwbdgiqnXF3jwq5v8Axp0NOg8j&location=Houston,%20TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 17 Nov 2021 12:39:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Houston,
        TX"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Houston","adminArea5Type":"City","adminArea4":"Harris
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040105","unknownInput":"","type":"s","latLng":{"lat":29.760803,"lng":-95.369506},"displayLatLng":{"lat":29.760803,"lng":-95.369506},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=eyaDL7GwbdgiqnXF3jwq5v8Axp0NOg8j&type=map&size=225,160&locations=29.760803,-95.369506|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1681896991"}]}]}'
  recorded_at: Wed, 17 Nov 2021 12:39:26 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_SHARE_MY_OPENWEATHER_KEY>&exclude=minutely,alerts&lat=29.760803&lon=-95.369506&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":29.7608,"lon":-95.3695,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1637152766,"sunrise":1637153292,"sunset":1637191507,"temp":65.73,"feels_like":66,"pressure":1015,"humidity":85,"dew_point":61.11,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":1.01,"wind_deg":113,"wind_gust":5.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1637150400,"temp":66.33,"feels_like":66.51,"pressure":1015,"humidity":82,"dew_point":60.67,"uvi":0,"clouds":74,"visibility":10000,"wind_speed":7.02,"wind_deg":178,"wind_gust":24.38,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1637154000,"temp":65.73,"feels_like":66,"pressure":1015,"humidity":85,"dew_point":61.11,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":7.36,"wind_deg":183,"wind_gust":22.82,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1637157600,"temp":67.21,"feels_like":67.39,"pressure":1015,"humidity":80,"dew_point":60.84,"uvi":0.23,"clouds":85,"visibility":10000,"wind_speed":8.9,"wind_deg":185,"wind_gust":20.22,"weather":[{"id":804,"m[...]
