---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_SHARE_MY_OPENWEATHER_KEY>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1636978901,"sunrise":1636983900,"sunset":1637019867,"temp":54.72,"feels_like":51.58,"pressure":1014,"humidity":36,"dew_point":28.74,"uvi":0,"clouds":67,"visibility":10000,"wind_speed":5.66,"wind_deg":217,"wind_gust":6.46,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1636977600,"temp":54.72,"feels_like":51.58,"pressure":1014,"humidity":36,"dew_point":28.74,"uvi":0,"clouds":67,"visibility":10000,"wind_speed":5.66,"wind_deg":217,"wind_gust":6.46,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1636981200,"temp":54.19,"feels_like":51.01,"pressure":1014,"humidity":36,"dew_point":28.33,"uvi":0,"clouds":72,"visibility":10000,"wind_speed":7.09,"wind_deg":233,"wind_gust":11.18,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1636984800,"temp":53.6,"feels_like":50.31,"pressure":1015,"humidity":35,"dew_point":27.27,"uvi":0,"clouds":65,"visibility":10000,"wind_speed":7.85,"wind_deg":229,"wind_gust":14.43,"weather":[{"id":803,"mai[...]
