---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=eyaDL7GwbdgiqnXF3jwq5v8Axp0NOg8j&location=34.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 17 Nov 2021 09:18:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"34.5"},"locations":[{"street":"H\u1EBBm
        34/5 C\u1ED1ng L\u1EDF 34/5/5","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"H\u1ED3
        Ch\u00ED Minh","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"H\u1ED3
        Ch\u00ED Minh","adminArea3Type":"State","adminArea1":"VN","adminArea1Type":"Country","postalCode":"72109","geocodeQualityCode":"P1CCA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"N","linkId":"VN/PAD/p0/241894","unknownInput":"","type":"s","latLng":{"lat":10.82551,"lng":106.63313},"displayLatLng":{"lat":10.82551,"lng":106.63313},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=eyaDL7GwbdgiqnXF3jwq5v8Axp0NOg8j&type=map&size=225,160&locations=10.82551,106.63313|marker-sm-50318A-1&scalebar=true&zoom=15&rand=2002630374"},{"street":"H\u1EBBm
        34/5 C\u1ED1ng L\u1EDF 34/3","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"H\u1ED3
        Ch\u00ED Minh","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"H\u1ED3
        Ch\u00ED Minh","adminArea3Type":"State","adminArea1":"VN","adm[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_SHARE_MY_OPENWEATHER_KEY>&exclude=minutely,alerts&lat=10.82551&lon=106.63313&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":10.8255,"lon":106.6331,"timezone":"Asia/Ho_Chi_Minh","timezone_offset":25200,"current":{"dt":1637140712,"sunrise":1637103001,"sunset":1637144823,"temp":78.82,"feels_like":78.82,"pressure":1008,"humidity":94,"dew_point":76.95,"uvi":1.22,"clouds":40,"visibility":1000,"wind_speed":6.91,"wind_deg":150,"weather":[{"id":202,"main":"Thunderstorm","description":"thunderstorm
        with heavy rain","icon":"11d"},{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.16}},"hourly":[{"dt":1637139600,"temp":78.82,"feels_like":78.82,"pressure":1008,"humidity":94,"dew_point":76.95,"uvi":1.22,"clouds":40,"visibility":10000,"wind_speed":5.12,"wind_deg":148,"wind_gust":8.3,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.85,"rain":{"1h":0.29}},{"dt":1637143200,"temp":79.45,"feels_like":79.45,"pressure":1008,"humidity":91,"dew_point":76.59,"uvi":0.18,"clouds":52,"visibility":10000,"wind_speed":5.59,"wind_deg":148,"wind_gust":10.18,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.87},{"dt":1637146800,"temp":79.12,"feels_like":79.12,"pressure":1008,"humidity":90,"dew_point":75.94,"uvi":0,"clouds":64,"visibility":10000,"wind_speed":5.73,"wind_deg":143,"wind_gust":11[...]
