---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=eyaDL7GwbdgiqnXF3jwq5v8Axp0NOg8j&location=Houston,%20TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 15 Nov 2021 10:16:50 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Houston,
        TX"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Houston","adminArea5Type":"City","adminArea4":"Harris
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040105","unknownInput":"","type":"s","latLng":{"lat":29.760803,"lng":-95.369506},"displayLatLng":{"lat":29.760803,"lng":-95.369506},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=eyaDL7GwbdgiqnXF3jwq5v8Axp0NOg8j&type=map&size=225,160&locations=29.760803,-95.369506|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2102459997"}]}]}'
  recorded_at: Mon, 15 Nov 2021 10:16:50 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_SHARE_MY_OPENWEATHER_KEY>&exclude=minutely,alerts&lat=29.760803&lon=-95.369506&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":29.7608,"lon":-95.3695,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1636971411,"sunrise":1636980391,"sunset":1637018759,"temp":59.23,"feels_like":58.89,"pressure":1020,"humidity":86,"dew_point":55.06,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":1.01,"wind_deg":186,"wind_gust":1.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1636970400,"temp":59.23,"feels_like":58.89,"pressure":1020,"humidity":86,"dew_point":55.06,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":3.65,"wind_deg":199,"wind_gust":9.89,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1636974000,"temp":60.03,"feels_like":59.81,"pressure":1020,"humidity":87,"dew_point":56.16,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":3.51,"wind_deg":202,"wind_gust":7.81,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1636977600,"temp":60.76,"feels_like":60.64,"pressure":1020,"humidity":87,"dew_point":56.88,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":3.62,"wind_deg":204,"wind_gust":6.38,"weather":[{"id":800,"main":"Clea[...]
